@charset "utf-8";

* { padding: 0px; margin: 0px; overflow: hidden; }

body { 

	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	color: black; 

}

a {	text-decoration: none; } 
a:hover { text-decoration: underline; }


.hidden {

	display: none;

}

.welcome {

	position: absolute;
	left: 20%;
	width: 60%;
	text-align: center;

}

.initial { bottom: 5%; } .second { bottom: 80%; }


.welcome h1 {

	font-weight: 900;
	font-size: 36px;
	color: #B0B0B0;

} .welcome h6 {

	font-weight: 100;
	font-size: 24px;

}

#firstButton {

	font-weight: 400;
	font-size: 16px;
	color: #3B5998;
	text-decoration:none;
	margin-top: 30px;

} #firstButton a:hover, 
  #firstButton a:active, 
  #firstButton a:visited {

	color: #3B5998;

} 








.ninja {

	width: 600px;
	margin: auto;
	position: relative;
	-webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));



}


.FRIENDS, .CONVO {

	overflow: scroll;
	width: 100%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;

} .FRIENDS {

	-webkit-mask-image: -webkit-gradient(linear, left 12%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}

.friend {

	background-color: white;
	height: 70px;
	width: 550px;
	margin: auto;
	margin-top: 20px;
	cursor: pointer;



} .friendPIC {

	float: left;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black;

} .friendNAME {

	margin-left: 10px;
	font-weight: 300;
	font-size: 16px;
	font-style: bold;


} .FmostRECENT {

	font-weight: 300;
	font-size: 14px;
	margin-top: 2px;
	color: #606060;


}

.CONVO {




} .message {

	border: 1px solid #B0B0B0;
	margin: 10px 1px 10px 1px;
	padding: 10px;
	position: relative;
	font-weight: 300;

	width: 80%;



} 

.to {

	left: 0%;
	background-color: lightblue;

} .from {

	background-color: lightgreen;
	left: 10%;


}


.logo {

	position: fixed;
	visibility: none;
	bottom: 30px;
	left: 30px;
	border: 1px solid #B0B0B0;
	width: 80px;


}





















.moveDown {

	animation: MoveD 1.2s ease-in-out;
	-webkit-animation: MoveD 1.2s ease-in-out;
	-moz-animation: MoveD 1.2s ease-in-out;
}

@keyframes MoveD {
	0% { bottom: 5%; }
	50% { bottom: -80%; }
	100% { bottom: -80%; }
}

@-webkit-keyframes MoveD {
	0% { bottom: 5%; }
	50% { bottom: -80%; }
	100% { bottom: -80%; }
}

@-moz-keyframes MoveD {
	0% { bottom:5%; }
	100% { bottom: -80%; }

}




 .fade {

	opacity: 0.7;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;

} .fade:hover { opacity: 1.0; }