@charset "utf-8";

* { padding: 0px; margin: 0px; overflow: hidden; }

body { 

	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	color: black; 

}



.hidden {

	display: none;

}

.welcome {

	position: absolute;
	bottom: 10%;
	left: 20%;
	width: 60%;
	text-align: center;
	

} .welcome h1 {

	font-weight: 900;
	font-size: 36px;
	color: #B0B0B0;

} .welcome h6 {

	font-weight: 100;
	font-size: 24px;

}

#firstButton {

	font-weight: 400;
	font-size: 16px;
	color: #3B5998;
	text-decoration:none;
	margin-top: 30px;

} #firstButton:hover {

	color: #3B5998;
	text-decoration: underline;

}

.moveUp {

	transition: moveUP .3s ease-in-out;
	-moz-transition: moveUP .3s ease-in-out;
	-webkit-transition: moveUP .3s ease-in-out;

} 

@keyframes moveUP {
	from { transform: translateY(0%); }
	to { transform: translateY(-60%); }
}

@-webkit-keyframes moveUP {
	from { -webkit-transform: translateY(0%); }
	to { -webkit-transform: translateY(-60%); }
}

@-moz-keyframes moveUP {
	from { -moz-transform: translateY(0%); }
	to { -moz-transform: translateY(-60%); }
}



.FRIENDS {





}

.friend {




}

.CONVO {




}


.to {




}

.from {




}







 

























 .fade {

	opacity: 0.7;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;

} .fade:hover { opacity: 1.0; }