@charset "utf-8";

* { padding: 0px; margin: 0px; overflow: hidden; }

body { 

	font-family: 'Lato', sans-serif; 
	font-weight: 400; 
	color: black; 

}

a {	text-decoration: none; } 
a:hover { text-decoration: underline; }


.hidden {

	display: none;

}

.welcome {

	position: absolute;
	left: 20%;
	width: 60%;
	text-align: center;

}

.initial { bottom: 10%; } .second { bottom: 80%; }


.welcome h1 {

	font-weight: 900;
	font-size: 36px;
	color: #B0B0B0;

} .welcome h6 {

	font-weight: 100;
	font-size: 24px;

}

#firstButton {

	font-weight: 400;
	font-size: 16px;
	color: #3B5998;
	text-decoration:none;
	margin-top: 30px;

} #firstButton a:hover, 
  #firstButton a:active, 
  #firstButton a:visited {

	color: #3B5998;

} 





.moveDown {

	animation: MoveD 1.8s ease-in-out;
	-webkit-animation: MoveD 1.8s ease-in-out;
	-moz-animation: MoveD 1.8s ease-in-out;
}

@keyframes MoveD {
	0% { bottom: 10%; }
	100% { bottom: 80%; }
}

@-webkit-keyframes MoveD {
	0% { bottom: 10%; }
	100% { bottom: 80%; }
}

@-moz-keyframes MoveD {
	0% { bottom: 10%; }
	100% { bottom: 80%; }
}




.FRIENDS {





}

.friend {




}

.CONVO {




}


.to {




}

.from {




}







 

























 .fade {

	opacity: 0.7;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;

} .fade:hover { opacity: 1.0; }