<!doctype html>

<head>

	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css' />
	<link href="style/style.css" rel="stylesheet" type="text/css" />


	<title>Konversation</title>

</head>

<body>

	<div class="welcome">
		<h1>Konversation<h1>
		<h6>Your entire facebook conversation in one place.</h6>
		
        {% if name %}
        	<div class="fade" id="firstButton">Hello {{name}} </div>
        	
        {% else %}
        	<div class="fade" id="firstButton"><a href='/auth/facebook'>login with facebook</a></div>
        {% endif %}

	</div>



	<div class="hidden FRIENDS"></div>

	<div class="hidden CONVO">


	</div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
<body>














